<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="90+"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".courseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectThemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddHomeworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditHomeworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <!--
        <receiver android:name=".CourseWidgetBig">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.app.UPDATE_WIDGET"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/course_widget_big_info" />
        </receiver>
        <receiver android:name=".HomeworkWidgetBig">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.app.UPDATE_WIDGET" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/homework_widget_big_info" />
        </receiver>
        -->

        <receiver android:name=".CourseWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.app.UPDATE_WIDGET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/course_widget_info" />
        </receiver>
        <receiver android:name=".HomeworkWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.app.UPDATE_WIDGET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/homework_widget_info" />
        </receiver>

        <activity android:name=".UpdateActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity"/>
    </application>

</manifest>