<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whuLoveStudyGroup.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name="com.whuLoveStudyGroup.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="90+"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.whuLoveStudyGroup.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.whuLoveStudyGroup.app.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.whuLoveStudyGroup.app.courseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.whuLoveStudyGroup.app.AddCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.whuLoveStudyGroup.app.SelectThemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.whuLoveStudyGroup.app.EditCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.whuLoveStudyGroup.app.AddHomeworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.whuLoveStudyGroup.app.EditHomeworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.whuLoveStudyGroup.app.SettingActivity"
            android:screenOrientation="portrait" />
        <!--
        <receiver android:name=".CourseWidgetBig">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.app.UPDATE_WIDGET"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/course_widget_big_info" />
        </receiver>
        <receiver android:name=".HomeworkWidgetBig">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.app.UPDATE_WIDGET" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/homework_widget_big_info" />
        </receiver>
        -->

        <receiver android:name="com.whuLoveStudyGroup.app.CourseWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.whuLoveStudyGroup.app.UPDATE_WIDGET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/course_widget_info" />
        </receiver>
        <receiver android:name="com.whuLoveStudyGroup.app.HomeworkWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.whuLoveStudyGroup.app.UPDATE_WIDGET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/homework_widget_info" />
        </receiver>

        <activity android:name="com.whuLoveStudyGroup.app.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.whuLoveStudyGroup.app.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.ScoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.ResetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.MovieActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.AccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.AccountEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.BusActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.CardActivity"
        android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.LnfActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.whuLoveStudyGroup.app.AcActivity"
            android:screenOrientation="portrait"/>
        <service android:name="com.whuLoveStudyGroup.app.DownloadService"
            android:exported="true"
            android:enabled="true"/>
    </application>

</manifest>